@import url("./components/_scrollbar.scss");
@import url("./components/_nprogress.scss");
@import url("./components/_markdown.scss");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

html.dark {
  @apply bg-orient-900;
}
a {
  @apply cursor-pointer;
}
